body {
  font-family: 'PT Sans', sans-serif;
}
body * {
  transition: all 1s ease;
}
h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 36px;
  line-height: 46px;
}
p {
  margin-top: 21px;

  font-size: 26px;
  line-height: 38px;
}
a {
  text-decoration: none;

  color: rgba(0,0,0,0.6);
  border-radius: 5px;

  font-size: 15px;
  line-height: 40px;
}

nav {
  position: fixed;
  z-index: 2;

  display: flex;

  width: 100%;
  height: 30px;
  margin: 0;
  padding: 10px 0;

  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);

  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;

  margin-top: -20px;

  align-items: flex-end;
}
.logo img {
  width: 35px;
  height: 35px;
}
nav img {
  padding-left: 25px;
}
nav a {
  padding-right: 25px;
}

article {
  width: 90%;
  margin: 0 auto;
  padding-top: 170px;

  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.card {
  display: flex;
  overflow-x: hidden;

  padding-left: 80px;

  justify-content: space-around;
  align-items: flex-start;
}
.card img {
  width: 670px;
  margin-top: -30px;
  /* margin-left: -50px; */
  margin-right: -210px;
}
.card:nth-of-type(2) {
  flex-direction: row-reverse;

  padding-right: 80px;
}
.card:nth-of-type(2) .text + img {
  margin: -10px 15px 0 -435px;

  transform: scale(-1, 1);
}
.card + .card {
  margin-top: 50px
}
.text {
  width: 40vw;
}
.card .gif {
  width: 900px;
  margin-top: -79px;
  margin-right: -362px;
}
.text img {
  width: 101%;
  margin-top: 30px;
  margin-left: -13px;

  opacity: 0.6;
}

.center {
  width: 47vw;
  margin: 100px auto 0;

  text-align: center;
}
.center a {
  display: inline-block;

  margin-top: 70px;
}
.center a:first-of-type {
  padding: 3px 15px;

  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0,0,0,.2);
  background-color: #fff;

  font-size: 15px;
  font-weight: normal;
}
.center a {
  padding: 10px 20px;

  color: #fff;
  background-color: #EE4266;

  font-size: 20px;
  font-weight: bold;
}
.center a + a {
  margin-left: 30px;
}

footer {
  margin-top: 120px;

  text-align: center;
}
footer p {
  font-size: 16px;
}

@media (max-width: 768px) {
  article {
    width: 100%
  }
  h2 {
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
  }
  article p {
    margin-top: 40px;

    font-size: 22px;
    line-height: 30px;
  }
  .card, .card:nth-of-type(2) {
    flex-direction: column;
  }
  .card img, .card:nth-of-type(2) .text + img, .card .gif {
    margin: 0;
    padding: 0;
  }
  .card .text + img {
    margin-top: -28px;
    padding-left: 120px;
  }
  .card:nth-of-type(2) .text + img {
    width: 450px;
    margin-top: 10px;
    margin-left: 234px;

    transform: scale(1, 1);
  }
  .text {
    width: 70vw;
  }
  .text img {
    margin-top: 10px;
    margin-left: -15px;
  }
  .card .gif {
    width: 560px;
    padding-left: 250px;
  }
  .center {
    width: 80vw;
    margin: 0 auto;
  }
}
